---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Card from "../components/Card.astro";

const identity = {
    firstName: "Macc",
    country: "USA",
    occupation: "Software Engineer",
    hobbies: ["photography", "coding", "cooking", "reading"],
};
const pageTitle="About"
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---



<DefaultLayout
    title="About"
    pageTitle="About Me"
    description="this is a page about me"
    >
    <main class="p-6">
        <h2 class='p-2'>{pageTitle}</h2>
        <p class=''>This is like my 100th attempt at this blog. I better get this done this time.</p>
        <ul>
            <li>My name is {identity.firstName}.</li>
            <li>I live in {identity.country} and I work as a {identity.occupation}.</li>

            )}
        </ul>

        <slot/>
        <Card>
            <div class="bg-bluegray p-2 border-solid">
                <p class='poppins'>My skills are:</p>
                <ul>
                    {skills.map((skill) => (
                            <li>{skill}</li>
                    ))}
                </ul>
            </div>

        </Card>
    </main>

</DefaultLayout>

