---
import { getCollection } from "astro:content";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import BaseNavigation from "../components/layout/BaseNavigation.astro";

export interface Props {
    color?: string;
    description: string;
    title: string;
    pageTitle: string;
}

const navigationItems = [
    { name: 'Home', url: '/' },
    { name: 'Blog', url: '/blog/' },
    { name: 'About', url: '/about/'}
];


// Destructure props
const { color = "custom-navbar-bg", description, pageTitle='pageTitle?', title='macc blogs' } = Astro.props;

// Fetch posts (if you plan to use them in the future)
const posts = await getCollection("blog");
---

<DefaultLayout description={description} title={title}>
    <header class='custom-navbar-bg b-rd-sm border-opacity-20 border-solid border-b-4 border-black flex justify-between p-6 items-center'>
        {pageTitle && <h1 class='hidden'>{pageTitle}</h1>}
        <a href='/' title='Back to Home'>
            <p class='righteous md:text-5xl'>{title}</p>
        </a>
        <nav class='hidden md:inline-block'>
                <h2 class='hidden'>Navigation</h2>
                <ul class='flex gap-8 poppins'>
                    {
                        navigationItems.map((item) => (
                                <li>
                                    <a
                                        class='text-lg font-medium hover:text-green hover:underline transition-all duration-150 ease-in-out'
                                        href={item.url}
                                        title={`Go to ${item.name}`}
                                    >
                                        {item.name}
                                    </a>
                                </li>
                        ))
                    }
                </ul>
            </nav>
            <nav class='md:hidden flex'>
                <h2 class='hidden'>Mobile Navigation</h2>
                <ul>
                    <li><a href='/blog/'>Blog</a></li>
                </ul>
        </nav>
    </header>
            <main class="custom-main-bg min-h-screen flex items-center justify-center border-opacity-60 border-rd-sm border-solid border-red">
                <h1 class="text-center text-2xl font-bold">Welcome to My Blog</h1>
                <section class="m-1 text-lg">
                    <ul>Random fact about me 1</ul>
                    <ul>Random fact about me 2</ul>
                    <ul>Random fact about me 3</ul>
                </section>
            </main>

</DefaultLayout>
