---
import type { CollectionEntry } from 'astro:content';

import SummaryCard from "./generic/SummaryCard.astro";
import Button from "./Button.astro";

interface Props {
    post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
---

<SummaryCard
        title={post.data.title}
        imgAlt={post.data.title}
        imgSrc={post.data.imgUrl}
        description={post.data.description}
>
    <div class='flex justify-end my-4'>
        <Button href={`/posts/${post.id}/`}>Read post &rarr;</Button>
    </div>
    <div class='hidden sm:inline-block'>
        <p class='poppins mt-2'>tags:</p>
    </div>
</SummaryCard>