---
import type { CollectionEntry } from 'astro:content';

import SummaryCard from "./generic/SummaryCard.astro";
import Button from "./Button.astro";

interface Props {
    post: CollectionEntry<'blog'>;
    color?: string;
}

const { post } = Astro.props;
---

<div class="p-4 bg-[#cfe8ef] drop-shadow-[5px_5px_0_rgb(0_0_0/_1)] border-2 hover:shadow-md border-solid border-[#85c7de] transition-shadow">
    <SummaryCard
            title={post.data.title}
            imgAlt={post.data.title}
            imgSrc={post.data.imgUrl}
            description={post.data.description}

    >
        <div class='flex justify-end my-4'>
            <Button href={`/posts/${post.id}/`} class="bg-white text-black px-4 py-2 border border-black hover:bg-gray-200">
                Read post &rarr;
            </Button>
        </div>
        <div class='hidden sm:inline-block'>
            <p class='text-sm text-gray-600'>Tags:</p>
        </div>
    </SummaryCard>
</div>