---
import DefaultLayout from "./DefaultLayout.astro";
import BlogContent from "../components/BlogContent.astro";
interface Props {
    author: string;
    pubDate: Date;
    headings: unknown;
    title: string;
    imgSrc: string;
    imgAlt: string;
}
const { title, pubDate, author, imgSrc, imgAlt } = Astro.props;
---

<DefaultLayout title={title} >
    <main class='p-6 lg:grid lg:grid-cols-3 flex justify-center'>
        <BlogContent title={title} pubDate={pubDate} author={author} imgSrc={imgSrc} imgAlt={imgAlt}>
            <slot />
        </BlogContent>
    </main>
</DefaultLayout>